
{{> head }}


{{> navbar }}

<div class="row">

    <div class="col-8"> 
        <h1>OTRO</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum similique officiis error aut debitis perferendis! Optio delectus est, dicta natus deserunt vitae inventore in quos ex commodi eum reprehenderit corrupti.
        </p>
    </div>

     <div class="col-8">
         <img src="../public/img/1.jpg" class="img-thumbnail"/> 
    </div>
</div>


 {{> footer }}